html, body {
text-align: center;
}
p {text-align: left;}

body {
	margin: 0;
	padding: 0;
	background: white;
	background-image:url(background.png);
	background-repeat: repeat-x;
	text-align: left;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}
*{
 	margin: 0 auto 0 auto;
}


html, body {
text-align: center;
}
p {text-align: left;}
#find 
{
	text-align: center;
}
#page
{
  width:1100px;
  padding-left:20px;
  padding-right:20px;
}
#header
{
background-image:url(header.png);
background-repeat:no-repeat;
width:1100px;
height:34px;
margin:0 auto 0 auto;
color:#267B9B;
text-align:center;
font-style:italic;
}

#pagetop
{
height:143px;
}

#logo
{
text-align:left;
display:block;
float:left;
margin-left:0px;
}

#pagetop h1
{
display:block;
float:left;
line-height:90px;
color:#FFFFFF;
text-align:left;
font-size:27px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
float:left;
margin-left:23px;
}
#pagetop ul {
	padding: 0px;
	list-style-type: none;
	height:21px;
	text-align:center;
	height:90px;
	overflow:hidden;
}
#pagetop ul li , #pagetop ul li a, #pagetop ul li {
	display:block;
	float:right;
	margin: 0px;
	text-align:center;
	line-height:100px;
	color:#FFFFFF;
	padding-left:5px;
	padding-right:5px;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}

#pagetop ul li a:hover{
color:#65A9ED;
}
#main 
{
width:1100px;
background:url(content_back.png);
text-align:center;
}
#main .content
{
width:900px;
color:#000000;
word-spacing:3px;
}
#main .content p
{
margin-top:8px;
margin-bottom:8px;
}
#main .content h1
{
font-size:19px;
margin-bottom:12px;
}
.clear
{
clear:both;
}
#footer {
display:block;
width: 1100px;
height:50px;
background: url(footer.png) no-repeat;
text-align:right;
font-size:10px;
line-height:48px;
}
#footer p{
padding-right:100px;
text-align:right;
color:#061E35;
}
hoverTable{
		width:100%; 
		border-collapse:collapse; 
	}
	.hoverTable td{ 
		padding:7px; border:#4e95f4 1px solid;
	}
	/* Define the default color for all the table rows */
	.hoverTable tr{
		background: #b8d1f3;
	}
	/* Define the hover highlight color for the table row */
    .hoverTable tr:hover {
          background-color: #ffff99;
    }
a:visited {
    color: #0000EB;
}
.maintitle{
display:block;
text-align: center;
padding-top: 33px;
padding-left: 280px;
font-size:27px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
float:left;
}